<form (ngSubmit)="onSubmit()" class="ui form" [formGroup]="emailForm">
  <app-input
    [control]="emailForm.get('to')"
    inputType="email"
    label="To "
  ></app-input>

  <app-input
    [control]="emailForm.get('from')"
    inputType="email"
    label="from "
  ></app-input>

  <app-input
    [control]="emailForm.get('subject')"
    inputType="text"
    label="subject "
  ></app-input>

  <app-input
    controlType="textarea"
    [control]="emailForm.get('text')"
    label="content"
  ></app-input>

  <button class="ui button primary">Send</button>
</form>
